#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style for a more visible focus for all clickable/tabable elements to enhance accessibility */
input:focus, 
label:focus, 
a:focus, 
select:focus, 
button:focus, 
textarea:focus {
  outline: 2px dashed rgb(224, 223, 223);
}
 
.project-title-anchor:focus {
  outline-offset: 2px;
}

.show-hide-button:focus {
  outline-offset: 3px;
  opacity: 1;
  z-index: 900; /* Added z-index to ensure focus outline shows. */
}

.hamburger:focus {
  outline-offset: 12px;
}

/* HEADER */

/* HAMBURGER MENU */

/* Hide the checkbox */
#menu-toggle {
  display: none;
}

/* Hamburger Icon */
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 1000; /* Highest z-index to always be visible. */
}

/* Hamburger menu lines. */
.hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 5px;
  transition: 0.4s;
}

/* Hamburger Icon Animation - toggle to X */
#menu-toggle:checked ~ .hamburger span:nth-child(1) {
  transform: rotate(47deg) translate(4px, 4px);
}
#menu-toggle:checked ~ .hamburger span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked ~ .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -9px);
}

/* NAVIGATION MENU */

/* Toggle Menu Visibility */
#menu-toggle:checked ~ #navbar {
  right: 0;
  visibility: visible;
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 25px;
  margin: 0;
  top: 0;
  right: -100%;
  visibility: hidden;
  z-index: 999; /* 1 lower than hamburger menu & higher than focused items */
  background-color: black;
  width: 100%;
  transition: 0.4s;
}

.nav-link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 25px;
  transition: 0.3s;
}

.nav-link:hover {
  background-color: white;
  color: black;
}

/* Smooth out scroll behaviors from nav links */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 6.25rem; /* 100px */
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

#header {
  display: flex;
  flex-direction: column;
  padding-block-start: 5rem;
  padding-inline: 1.25rem;
}

#welcome-section {
  display: flex;
  flex-direction: row;
  height: 75vh;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#intro-title {
  font-size: 6rem;
  margin: 0;
}

#intro-text {
  font-size: 2rem;
}

#intro-link {
  background-color: aliceblue;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  width: 13rem; /* 208px */
}

.arrow-icon {
  padding-left: 8px;
}

.site-owner-photo {
  width: 30%;
}

/* Dividing line between sections. */
hr.rounded {
  width: 100%;
  border-top: 8px solid rgb(224, 223, 223);
  border-radius: 5px;
  margin-block: 3rem;
}

#skills-title {
  font-size: 4rem;
  margin-block: 0 1rem;
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 288px;
  row-gap: 20px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-item img {
  /* width + height of 200px */
  width: 12.5rem;
  height: 12.5rem;
}

.skill-item p {
  font-size: 3rem;
  margin: 0;
  color: white;
}

#project-grid-heading {
  width: 70vw;
}

#project-section-title {
  font-size: 4rem;
  margin-block: 1rem;
}

#project-heading-text {
  margin-block-start: 0;
}

#select-menu-container {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

#order-select {
  background-color: black;
  color: white;
  font-size: 1rem;
}

#project-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 70vw;
  grid-auto-rows: 43.75rem; /* 700px; */
  row-gap: 100px;
}

.project-grid-reversed {
  animation: fadein 1s linear;
}

.project-tile, .project-tile-hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0;
  margin: 0;
  border: 3px solid gray;
}

.project-tile {
  height: 43.75rem; /* 700px; */
}

.project-tile-hidden {
  height: 30.625rem; /* 490px; */
}

.image-and-list-container {
  display: flex;
  flex-direction: row;
  height: 24.0625rem; /* 385px; */
}

.project-image {
  display: flex;
  width: 50%;
  height: 100%;
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1rem;
  padding-inline-end: 1%;
  background-color: rgb(56, 48, 65);
  color: lightgrey;
  box-sizing: border-box;
  overflow: auto;
}

.list-item {
  margin-block-end: .5rem;
}

.show-hide-button { 
  width: 100%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: transform 0.5s ease-out;
  transform-origin: bottom right;
}

/* Underline animation when project title is hovered over. */
.project-title-anchor:hover .hover-underline-animation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2px;
  width: calc(100% - 4px);
  outline: 2px solid white;
  font-size: 1.75rem;
  background-color: black;
  color: white;
  height: 4.375rem; /* 70px; */
}

a {
  text-decoration: none;
}

.show-hide-button {
  text-align: left;
  color: white;
  background-color: rgb(52, 58, 70);
  border: 2px solid white;
  opacity: .5;
  cursor: pointer;
  height: 2.1875rem; /* 35px; */
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.project-description {
  height: 13.125rem; /* 210px; */
  margin: 0;
  border: 2px solid white;
  font-size: 0.875rem;
  white-space: pre-line;
  overflow: auto;
  box-sizing: border-box;
  padding: 3%;
  text-align: justify;
  background-color: black;
  animation: fadein 1s linear;
}

.project-description-hidden {
  height: 0; 
  visibility: hidden; 
  overflow: hidden; 
}

#footer {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

#footer-text-and-image-container {
  display: flex;
  flex-direction: row;
}

#footer-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#footer-title {
  font-size: 4rem;
  margin-block: 25px;
}

#footer-text {
  font-size: 2rem;
  margin-block: 0 25px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  padding-block-end: 50px;
}

.form-elements {
  background-color: rgb(60, 60, 60);
  color: white;
  border: 2px solid rgb(133, 133, 133);
}

#email-error-container {
  margin-block: 5px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ee4540;
  margin-inline-start: 5px;
}

#email-error {
  background: #ee4540;
  margin-block: 0;
  padding-inline-start: 5px;
}

input:focus:invalid, 
textarea:focus:invalid, 
.invalid-input:focus {
  outline: 2px dashed rgb(192, 17, 17);
}

#submit-button {
  font-size: 1rem;
  cursor: pointer;
  margin-block-start: 10px;
}

/* MEDIA QUERIES */
/* 1295px */
@media screen and (max-width: 80.938rem) {
  .skills-list {
    column-gap: 200px;
  }
}

/* 1200px */
@media screen and (max-width: 75rem) {
  .site-owner-photo {
    width: 40%;
  }
}

/* 1050px */
@media screen and (max-width: 65.625rem) {
  #skills-title {
    text-align: center;
  }
  
  .skill-item p {
    font-size: 2rem;
  }

  #project-grid-heading {
    width: 90vw;
  }

  #project-grid {
    grid-template-columns: 90vw;
    grid-auto-rows: 56.25rem; /* 900px; */
  }

  .project-tile {
    height: 56.25rem; /* 900px; */
  }
  
  .project-tile-hidden {
    height: 43.125rem; /* 690px; */
  }

  .image-and-list-container {
    flex-direction: column;
    height: 36.5625rem; /* 585px; */
  }

  .project-image {
    width: 100%;
    height: 50%;
  }

  .list-container {
    height: 50%;
  }

  #footer {
    width: 90vw;
  }
}

/* 900px */
@media screen and (max-width: 56.25rem) {
  #intro-title {
    font-size: 4rem;
  }
  
  #intro-text {
    font-size: 1.5rem;
  }

  #footer-title {
    font-size: 3rem;
    margin-block: 0 25px;
  }
  
  #footer-text {
    font-size: 1.5rem;
  }
}

/* 800px - Tablet View */
@media screen and (max-width: 50rem) {
  #navbar {
    justify-content: center;
  }

  #welcome-section {
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  #intro {
    align-items: center;
    text-align: center;
  }

  .site-owner-photo {
    width: 50%;
    margin-block-start: 30px;
  }

  .list-container {
    padding-inline-end: 2%;
  }

  #footer-text-and-image-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #footer-title {
    font-size: 2.5rem;
  }
}

/* 600px - Mobile View */
@media screen and (max-width: 37.5rem) {
  html {
    scroll-padding-top: 9.375rem; /* 150px; adjusted for mobile nav menu. */
  }

  .hamburger {
    top: 20px;
  }

  .hamburger span {
    outline: 1px solid black;
  }

  #navbar {
    flex-direction: column;
    gap: 5%;
  }

  .nav-link {
    text-align: center;
    font-size: 1rem;
    padding: 10px 0;
    border: 1px solid white;
  }

  #header {
    padding-block-start: 8rem; /* 128px; */
  }

  .site-owner-photo {
    width: 15.5rem; /* 248px - Same width as intro-link. */
  }

  #skills-title {
    font-size: 3rem;
  }

  .skills-list {
    flex-direction: column;
    align-items: center;
  }

  #project-section-title {
    font-size: 3rem;
  }

  .list-container {
    align-items: flex-start;
  }

  .project-title {
    font-size: 1.25rem;
  }

  #footer-title {
    font-size: 2rem;
  }
  
  #footer-text {
    font-size: 1rem;
  }
}